<div class= "booking_title">
  <h1>Toutes vos demandes de réservations:</h1>
</div><br>

<div class="waiting_bookings">
  <h3>Demandes de réservation en attente de confirmation :</h3>
  <% @my_bookings.where(status: "pending").each do |booking| %>
    <div class="notification">
      <!-- <img src='https://source.unsplash.com/HQ_USRr5AU4' class="avatar-large" /> -->
      <% if booking.disguise.photo.attached? %>
        <%= cl_image_tag booking.disguise.photo.key, height: 70, width: 70 %>
      <% else %>
        <img src="https://source.unsplash.com/HQ_USRr5AU4" class="avatar-large">
      <% end %>
      <div class="notification-content">
        <div class="notification-content-info">
          <h5><small><%= booking.disguise.title %></small></h5>
          <p><%= booking.disguise.description %></p>
          <h8><strong>Prix total:</strong> <span id="total-price" data-price_per_day='<%= booking.disguise.price_per_day%>'><%= booking.disguise.price_per_day * (((booking.end_date - booking.start_date)/3600)/24).round() %> </span>€</h8>
        </div>
        <div class="notification-content-dates">
          <strong>Début :</strong> <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %> <br>
          <strong>Fin :</strong> <%= booking.end_date.day %>/<%= booking.end_date.month %>/<%= booking.end_date.year %> <br>
          <strong>Durée :</strong> <%= (((booking.end_date - booking.start_date)/3600)/24).round() %> jours
        </div>
        <div class="notification-content-status">
          <strong>Statut:</strong>
          <h5><span class="badge badge-warning">En attente</span></h5>
        <!-- <div class="notification-actions">
          <%= link_to "Confirmer ?", accept_booking_path(booking), method: :patch %>
          <%= link_to "Refuser ?", refuse_booking_path(booking), method: :patch %>
        </div> -->
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="past_bookings">
  <h3>Demandes de réservation passées :</h3>
  <% @my_bookings.where(status: [ "confirmed", "refused" ]).each do |booking| %>
    <div class="notification">
      <% if booking.disguise.photo.attached? %>
        <%= cl_image_tag booking.disguise.photo.key, height: 70, width: 70 %>
      <% else %>
        <img src="https://source.unsplash.com/HQ_USRr5AU4" class="avatar-large">
      <% end %>
      <div class="notification-content">
        <div class="notification-content-info">
          <h5><small><%= booking.disguise.title %></small></h5>
          <p><%= booking.disguise.description %></p>
          <h8><strong>Prix total:</strong> <span id="total-price" data-price_per_day='<%= booking.disguise.price_per_day%>'><%= booking.disguise.price_per_day * (((booking.end_date - booking.start_date)/3600)/24).round() %> </span>€</h8>
        </div>
        <div class="notification-content-dates">
          <strong>Début :</strong> <%= booking.start_date.day %>/<%= booking.start_date.month %>/<%= booking.start_date.year %> <br>
          <strong>Fin :</strong> <%= booking.end_date.day %>/<%= booking.end_date.month %>/<%= booking.end_date.year %> <br>
          <strong>Durée :</strong> <%= (((booking.end_date - booking.start_date)/3600)/24).round() %> jours
        </div>
        <div class="notification-content-status">
          <p>Statut:</p>
            <% if booking.status == "refused" %>
              <h5><span class="badge badge-danger">Refusée</span></h5>
            <% else %>
              <h5><span class="badge badge-success">Confirmée</span></h5>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
