<div class="cards-container">

  <div class="search_bar">
    <form action="#">
      <input type="text"
          placeholder="Rechercher un déguisement"
          name="search">
      <button>
          <i class="fa fa-search"
              style="font-size: 18px;">
          </i>
      </button>
    </form>
  </div>

  <div class="cards-disguise">
    <% disguises.each do |disguise| %>
      <div class="card-disguise">
        <%= link_to disguise_path(disguise), class: "link_disguise" do %>
          <div class="card-disguise-img">
          <%# if params[:action] == "user_index" %>
            <%#= link_to ('<i class="far fa-trash-alt"></i>').html_safe, disguise_path(disguise), method: :delete, data: { confirm: "Are you sure ?"}, class:"delete-disguise" %>
            <%#= link_to ('<i class="far fa-edit"></i>').html_safe, edit_disguise_path(disguise), class:"edit-disguise" %>
          <%# end %>
            <% if disguise.photo.attached? %>
              <%= cl_image_tag disguise.photo.key, height: 300, width: 200, :gravity=>"faces", crop: :fill %>
            <% else %>
              <img src="https://source.unsplash.com/HQ_USRr5AU4" alt="">
            <% end %>
          </div>
        <% end %>

        <div class="card-disguise-infos">
          <div class="title-desc">
            <h2><%= disguise.title.capitalize %></h2>
            <p><%= disguise.description%></p>
          </div>
          <div class="price-del-edit">
            <h2 class="card-disguise-pricing"> <%= disguise.price_per_day%>€/ jour</h2>
            <p>delete</p>
            <p>edit</p>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
