
<div class="d-flex justify-content-between">
<h1 class="ml-4 mt-4" id="dynamic_title">Devenez
  <span id="index-typed-text" > </span>
</h1>
<% if user_signed_in? %>
  <a class="btn btn-warning rounded mt-4 mr-4" href=<%=new_disguise_path%> >Ajouter un <br>nouveau déguisement</a>
<% end %>
</div><br>

<div class="search_bar">
  <form action="#">
    <input type="text"
        placeholder="Rechercher un déguisement"
        name="search">
    <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
    </button>
  </form>
</div>


<div class="row">
  <% @disguises.each do |disguise| %>
      <div class="col-sm-4 d-flex justify-content-center">
      <%= link_to disguise_path(disguise), class: "link_disguise" do %>
        <div class="card-disguise">
          <% if disguise.photo.attached? %>
            <%= cl_image_tag disguise.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <img src="https://source.unsplash.com/HQ_USRr5AU4" alt="">
          <% end %>
            <div class="card-disguise-infos">
              <div class="card-name-and-description">
                <h2><%= disguise.title %></h2>
                <p><%= disguise.description%></p>
              </div>
              <h2 class="card-disguise-pricing"> <%= disguise.price_per_day%>€/ jour</h2>
            </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

