
<div class="d-flex justify-content-between">
<h1 class="ml-4 mt-4" id="dynamic_title">Devenez
  <span id="index-typed-text" > </span>
</h1>
<% if user_signed_in? %>
  <a class="btn btn-warning rounded mt-4 mr-4" href=<%=new_disguise_path%> >Ajouter un <br>nouveau déguisement</a>
<% end %>
</div><br>

<div class="search_bar">
  <form action="#">
    <input type="text"
        placeholder="Rechercher un déguisement"
        name="search">
    <button>
        <i class="fa fa-search"
            style="font-size: 18px;">
        </i>
    </button>
  </form>
</div>

<div class="content"> 
  <div class="cards-disguise">
    <% @disguises.each do |disguise| %>
      <%= link_to disguise_path(disguise), class: "link_disguise" do %>
          <div class="card-disguise">
            <img src="https://source.unsplash.com/HQ_USRr5AU4" />
            <div class="card-disguise-infos">
              <div class="card-name-and-description">
                <h2><%= disguise.title %></h2>
                <p><%= disguise.description%></p>
              </div>
              <h2 class="card-disguise-pricing"> <%= disguise.price_per_day%>€/ jour</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>