<div class="back_button">
  <a class="btn btn-outline-secondary rounded" href=<%=disguises_path%> >Précédent</a>
</div>

<div class="d-flex">
  <div class="show-disguise-img">
    <%= cl_image_tag @disguise.photo.key, height: 300, width: 400, crop: :fill %>
    <!-- <img src="https://source.unsplash.com/HQ_USRr5AU4" alt=""> -->
  </div>

  <div class="show-disguise-infos">
    <div class="disguise-title">
      <h1><%= @disguise.title %></h1>
    </div>
    <div class="disguise-details">
      <h3><%= @disguise.category %></h3>
      <p><%= @disguise.description %></p>
    </div>
    <div class="disguise-details">
      <h3><%= @disguise.price_per_day%>€ la journée</h3>
    </div>
  </div>
  <div class="show-card-booking">
    <p>Date de début: <em>20/06/2021</em></p>
    <p>Date de fin: <em>22/06/2021</em></p>
    <br>
    <p><strong>Prix estimé:</strong> 30€</p>
    <% if user_signed_in? %>
      <a class="btn btn-primary" href=<%=new_booking_path%> >Louez-moi</a>
    <% else %>
      <a class="btn btn-primary" href=<%=new_user_session_path %>>Louez-moi</a>
    <% end %>
  </div>
</div>
